html, body {
  height: 100%;
  min-height: 100%;
}

html {
  -webkit-font-smoothing: antialiased;
  background-color: #2f2f2f;
  background-image: url('/images/px_by_Gre3g.png');
  min-height: 100%;
}

@media
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
    html {
      background-image: url('/images/px_by_Gre3g_@2x.png');
    }
  }

.my-body {
  margin: 0px;
  color: #eee;
  text-shadow: 3px 3px #222;
  font-family: "Catamaran", sans-serif;
  font-weight: 100;
  width: 100%;
  min-height: 100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  * {
    flex: 1;
    min-width: 11em;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100%;
  width: 100%;
  section {
    height: calc(100vh - 2em);
    width: calc(100% - 2em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
  }
}

a.button {
  text-decoration: none;
  background-color: hsl(140, 50%, 50%);
  color: #eee;
  margin-top: 2.5em;
  margin-bottom: 0px;
  margin-left: 1em;
  margin-right: 1em;
  box-shadow: 3px 3px 10px 2px #222;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.7em;
  text-shadow: none;
  text-align: center;
  display: block;
  padding: 0em 0.9em;
  border-radius: 50px;
  transition: transform 0.5s, box-shadow 0.5s;
  &:hover {
    transform: scale(1.1);
    box-shadow:
      4px 4px 12px 3px #222;
  }

  &.small {
    background-color: hsl(140, 50%, 40%);
    transform: scale(0.8);
    &:hover {
      transform: scale(0.88);
      box-shadow:
        4px 4px 12px 3px #222;
    }
  }
}

h1 { font-size: 4em; }
h2 { font-size: 3em; }
h1, h2 {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  letter-spacing: 3px;
}

img {
  border-radius: 50%;
  margin-bottom: 1em;
  box-shadow:
    0px 0px 1px 3px #eee,
    2px 2px 10px 2px #222;
}

@media (max-width: 600px) {
  img { transform: scale(0.75); }
  h1 { font-size: 3em; }
  h2 { font-size: 2em; }
}

pre {
  color: #eee;
  background-color: #2f2f2f;
  text-shadow: none;
  margin: 2em;
  padding: 3em;
  border: 1px solid #eee;
  border-radius: 5px;
}
