/* ------------------------------ */
/* -------- LIGHT THEME --------- */
/* ------------------------------ */

@media (prefers-color-scheme: light) {
  :root {
    --system-green: rgb(52, 199, 89);
    --system-red: rgb(255, 59, 48);

    --body-background: #fefefe;
    --body-foreground: #444;
    --body-foreground-hover: lightgray;
    --border: lightgray;
    --accent-color: #52c41a;
  }
}

/* ------------------------------ */
/* --------- DARK THEME --------- */
/* ------------------------------ */

@media (prefers-color-scheme: dark) {
  :root {
    --system-green: rgb(48, 209, 88);
    --system-red: rgb(255, 69, 58);

    --body-background: #444;
    --body-foreground: #fefefe;
    --body-foreground-hover: #777;
    --border: lightgray;
    --accent-color: #52c41a;
  }
}
