/* catamaran-100 - latin */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 100;
  src: local('Catamaran Thin'), local('Catamaran-Thin'),
       url('../fonts/catamaran-v4-latin-100.woff2') format('woff2'),
       url('../fonts/catamaran-v4-latin-100.woff') format('woff');
}
