@import "colors.css.scss";

body {
  padding: 2em;
  padding-top: 1.5em;
  margin: 2em auto 30vh;
  max-width: 800px;
  transition: margin 0.1s, border-color 0.1s;

  background-color: var(--body-background);
  color: var(--body-foreground);
  border-color: var(--border);
}
@media (max-width: calc(800px + 4em)) {
  body {
    margin-top: 0;
  }
}

code {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 2px 8px;
  overflow-x: scroll;
  border-color: var(--border);
}

a {
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  padding: 1px 4px;
  border-top: none;
  border-bottom: none;
  color: var(--body-foreground);
}

a:not(.disable):hover {
  background-color: var(--body-foreground-hover);
}

a.disable {
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}

ul, ol {
  padding-left: 0;
}

li {
  list-style-position: outside;
}

pre > code {
  display: block;
}

img {
  max-width: 100%;
}

.invisible {
  visibility: hidden;
}

.up-link {
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
  margin-right: 1em;
}

del {
  display: none;
}

ins {
  text-decoration: none;
}

hr {
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
  border-color: var(--border);
}

hr.full-width {
  overflow: visible;
  width: calc(100% + 4em - 1px);
  position: relative;
  left: -2em;
}

h1 + hr:first-of-type {
  margin-top: 1.5em;
}

input.toggle {
  display: none;
}

input.toggle + label {
  user-select: none;
  -webkit-user-select: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  padding: 1px 4px;
  border-top: none;
  border-bottom: none;
}

input.toggle + label:hover {
  cursor: pointer;
}

input.toggle#insdel:checked ~ * del, input.toggle#insdel:checked ~ * del * {
  display: inline;
  color: var(--system-red) !important;
  text-decoration: none;
}

input.toggle#insdel:checked ~ * ins, input.toggle#insdel:checked ~ * ins * {
  display: inline;
  color: var(--system-green) !important;
  text-decoration: none;
}

input.toggle + label {
  color: var(--body-foreground);
}

input.toggle:checked + label {
  background-color: var(--body-foreground-hover);
}

input.toggle + label:hover {
  background-color: var(--body-foreground-hover);
}

.aoc {
  article em {
    font-style: normal;
    font-weight: bold;
  }

  article em.star {
    padding: 0 0.25em;
    background-color: #ffff6644;
    border: 1px solid #aaaa00;
    border-radius: 5px;
    font-style: normal;
    font-weight: bold;
    white-space: nowrap;
  }
}

.accent {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 8px;
    margin-left: -12px;
    margin-right:  2px;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #0267C1;
    height: 100%;
    float: left;
    background-color:  #0267C1;
  }
}

hr.thick {
  border-style: solid;
  border-width: 4px;
  border-bottom: none;
  border-color: var(--border);
  margin-top: 1em;
  margin-bottom: 1em;
}

.no-select {
  user-select: none;
}
