@import "colors.css.scss";
$font-prefix: "/resources";
@import "ibm-plex-serif/regular";
@import "ibm-plex-mono/regular";

@font-face {
  font-family: OpenMoji;
  src: url(/resources/OpenMoji-Black.ttf);
}

body {
  line-height: 1.75em;
  font-size: 16px;
  font-family: 'IBM Plex Serif', Georgia, serif, OpenMoji;
  font-weight: 400;
  padding: 2em;
  padding-top: 1.5em;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  margin: 2em auto 30vh;
  max-width: 800px;
  transition: margin 0.1s, border-color 0.1s;

  background-color: var(--body-background);
  color: var(--body-foreground);
  border-color: var(--border);
}
@media (max-width: calc(800px + 4em)) {
  body {
    margin-top: 0;
    border-color: transparent;
  }
}

h1, h2, h3 {
  margin: 0;
  font-weight: 400;
  line-height: 1.5em;
}

h1 { font-size: 4.236rem; }
h2 { font-size: 2.618rem; }
h3 { font-size: 1.618rem; }
@media (max-width: calc(800px + 4em)) {
  h1 { font-size: 2.00rem; }
  h2 { font-size: 1.75rem; }
  h3 { font-size: 1.50rem; }
}

code {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 2px 8px;
  overflow-x: scroll;
  border-color: var(--border);
  font-family: 'IBM Plex Mono', Monaco, monospace;
}

pre {
  font-family: 'IBM Plex Mono', Monaco, monospace;
}

a {
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  padding: 1px 4px;
  border-top: none;
  border-bottom: none;
  color: var(--body-foreground);
}

a:hover {
  background-color: var(--body-foreground-hover);
}

ul, ol {
  padding-left: 0;
}

li {
  list-style-position: outside;
}

pre > code {
  display: block;
}

p:first-of-type {
  initial-letter: 2;
}

img {
  max-width: 100%;
}

.invisible {
  visibility: hidden;
}

.up-link {
  float: right;
  margin-left: 1em;
  min-width: 1.5em;
  text-align: center;
}

del {
  display: none;
}

ins {
  text-decoration: none;
}

hr {
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
  border-color: var(--border);
}

hr.full-width {
  overflow: visible;
  width: calc(100% + 4em - 1px);
  position: relative;
  left: -2em;
}

h1 + hr:first-of-type {
  margin-top: 1.5em;
}

input.toggle {
  display: none;
}

input.toggle + label {
  user-select: none;
  -webkit-user-select: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  padding: 1px 4px;
  border-top: none;
  border-bottom: none;
}

input.toggle + label:hover {
  cursor: pointer;
}

input.toggle#insdel:checked ~ * del, input.toggle#insdel:checked ~ * del * {
  display: inline;
  color: var(--system-red) !important;
  text-decoration: none;
}

input.toggle#insdel:checked ~ * ins, input.toggle#insdel:checked ~ * ins * {
  display: inline;
  color: var(--system-green) !important;
  text-decoration: none;
}

input.toggle + label {
  color: var(--body-foreground);
}

input.toggle:checked + label {
  background-color: var(--body-foreground-hover);
}

input.toggle + label:hover {
  background-color: var(--body-foreground-hover);
}
