<!DOCTYPE html>
<html lang="en">
  <head>
     <%= partial "head" %>
     <% if current_page.data.typography_styles %>
      <%= stylesheet_link_tag("typography.css") %>
    <% end %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
