<!DOCTYPE html>
<html lang="en">
  <head>
     <%= partial "head" %>
  </head>
  <body>
    <a class="up-link <%= if current_path == "index.html" then "invisible" else "" end %>" href="./..">up</a>
    <%= yield %>
  </body>
</html>
