<!DOCTYPE html>
<html lang="en">
  <head>
     <%= partial "head" %>
  </head>
  <body>
    <div class="my-body">
      <%= yield %>
    </div>
    <script async defer src="./javascripts/zenscroll-min.js"></script>
  </body>
</html>
