<% wrap_layout :layout do %>
<% content_for :title do %>Blog<% end %>

<div class="container automargin scrollpastend">
  <h1><%= current_article.title %></h1>
  <%= current_article.body %>
</div>
<% end %>
