<% wrap_layout :layout do %>
<% content_for :title do %>Blog<% end %>
<main class="blog">
  <article>
    <div class="outline"></div>
    <h1><%= current_article.title %></h1>
    <%= current_article.body %>
  </article>
</main>
<% end %>
