<% wrap_layout :layout do %>
<% content_for :title do %>Blog<% end %>

<div class="container automargin scrollpastend">
  <h1><%= current_article.title %></h1>
  <%= current_article.body %>

  <% sig_path = File.basename(current_article.path, File.extname(current_article.path)) %>
  <% if sitemap.find_resource_by_path("blog/#{sig_path}/signature.txt") %>
    <a class="signature" href="signature.txt">
    Signed by Will Lewis
    </a>
  <% end %>
</div>
<% end %>
