header {
  padding:0;
  margin: 0;
  padding-top: 0.5em;
  div {
    width: 300px;
    text-align: center;
  }
  img {
    height: 60px;
    padding:0;
    margin: 0;
  }
  h1 {
    text-align: center;
  }
}
