nav {
  padding-left: 2em;
  ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0;
  }
  li {
    a {
      display: block;
      font-size: 1.6em;
      font-variant: small-caps;
      text-decoration: none;
      margin: 0.5em;
      padding: 0.25em 0.5em;
      // box-shadow: 0 0 5px $tblack;
      box-shadow: none;
      transition: box-shadow 0.5s, transform 0.5s, background-color 0.5s;
      &:hover {
        background-color: lighten($background, 5);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        transform: scale(1.1);
      }
    }
  }
}
