---
-- previous_page: ./00
-- next_page: ./00
---
<div class="aoc">

<!-- replace with <article class="day-desc"> [...] </article> -->

<article class="accent">
<h3 id="part1-solution">Part One Solution Source</h3>
<pre><code># crystal-lang

<!-- replace with solution -->

</code></pre>
</article>

<!-- replace with <article class="day-desc"> [...] </article> -->

<article class="accent">
<h3 id="part2-solution">Part Two Solution Source</h3>
<pre><code># crystal-lang

<!-- replace with solution -->

</code></pre>
</article>
