---
layout: base
---
<article>
  <h1>Resume</h1>
  <article>
    <h2><mark>Education</mark></h2>
    <section>
      <span class="fr">2013 - 2016</span>
      <h3>BS in Computer Science: Software Systems minoring in Business Administration</h3>
      <em>University of Tennessee</em> | Chattanooga, TN
      <br><em>Cum Laude</em>
      <br>
      Relevant coursework includes: Computer networks, Database Management, Algorithm Analysis, Software engineering
    </section>
  </article>
  <article>
    <h2><mark>Experience</mark></h2>
    <section>
      <span class="fr">April 2014 - Present</span>
      <h3>Developer</h3>
      <em>Delegator</em> | Chattanooga, TN
      <ul>
        <li>Responsible for installing and customizing themes and extensions for Magento and Wordpress</li>
        <li>Updated and fixed bugs in websites using Ruby on Rails</li>
        <li>Maintained servers and Amazon web services</li>
        <li>Communicated with clients regarding bugs, features, and designs to ensure customer satisfaction</li>
        <li>Collaborated with team to design website structures Involved in pair programing</li>
      </ul>
    </section>
  </article>
</article>
