<form name="contact" netlify>
  <p>
    <label for="who">Who are you?</label>
    <br><input id="who" name="who" placeholder="you"/>
  </p>
  <p>
    <label for="where">Where can I reach you?</label>
    <br><input id="where" name="where" type="email" placeholder="you@somewhere.com"/>
  </p>
  <p>
    <label for="what">What do you want to discuss?</label>
    <br><textarea id="what" rows="3" name="what" placeholder=""></textarea>
  </p>
  <p>
    <button class="cta">Send</button>
  </p>
</form>
