<form name="contact" netlify-honeypot="honey" netlify>
  <p>
    <label for="who">Who are you?</label>
    <br><input id="who" required="required" name="who" placeholder="you"/>
  </p>
  <p>
    <label for="where">Where can I reach you?</label>
    <br><input id="where" required="required" name="where" type="email" placeholder="you@somewhere.com"/>
  </p>
  <p>
    <label for="what">What do you want to discuss?</label>
    <br><textarea id="what" required="required" rows="3" name="what" placeholder=""></textarea>
  </p>
  <p class="honey">
    <label for="honey">Leave this blank</label>
    <br><input id="honey" name="honey"/>
  </p>
  <p>
    <button class="cta">Send</button>
  </p>
</form>
