<script async defer src="https://www.googletagmanager.com/gtag/js?id=UA-77835120-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-77835120-1');
</script>
<script async defer src="https://cdnjs.cloudflare.com/ajax/libs/zenscroll/4.0.0/zenscroll-min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Catamaran:100" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta name="description" content="Will Lewis - Software Engineer">
<meta name="author" content="Will Lewis">
<title>Will Lewis</title>
<%= stylesheet_link_tag "main.css" %>
