<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta name="description" content="Will Lewis - Software Engineer">
<meta name="author" content="Will Lewis">
<title>Will Lewis</title>
<%= stylesheet_link_tag("main.css") %>
