<nav>
  <div class="container">
    <ul>
      <a class="face" href="/"><img src="/images/me.jpg" alt="Close-up portrait of a backlit young man"/></a>
      <li><a href="/public-key.txt">GPG Key</a></li>
    </ul>
  </div>
</nav>
