<main class="landing">
  <section id="top">
    <img src="/images/me.jpg" alt="Close-up portrait of a backlit young man"/>
    <h1>Will Lewis</h1>
    <h2>Software Developer</h2>
    <a class="button" href="#contact">Contact</a>
    <div class="button-row">
      <a class="small button" href="public-key.txt">GPG Key</a>
      <a class="small button" href="blog">Blog</a>
    </div>
  </section>

  <section id="contact">
    <h2>Contact Me</h2>
    <%= partial "form" %>
  </section>
</main>
