<h1>Hi, I'm Will. </h1>
<p>

</p>
<p>
  Thanks for stopping by! Some links on this site:
  <ul>
    <li><a class="small button" href="/public-key.txt">GPG Key</a></li>
    <li><a class="small button" href="/blog/">Blog</a></li>
    <li><a class="small button" href="/linklog/">Link Log</a></li>
  </ul>
</p>
