<div class="container automargin">
  <ul class="bloglist">
    <% blog.articles.each do |article| %>
    <li>
      <a href="<%= article.url %>">
        <%= article.title %>: <%= article.data.blurb %>
      </a>
    </li>
    <% end %>
  </ul>
</div>
