<h1>Hi, I'm Will. </h1>
<p>

</p>
<p>
  Thanks for stopping by! Some links on this site:
  <ul>
    <li><a href="/public-key.txt">GPG Key</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/linklog/">Link Log</a></li>
    <li><a href="gemini://wflewis.com/">My Gemini Capsule</a></li>
  </ul>
</p>
